a { font-size: 24px;
	color: #8D81FF;
	font-weight: 700;
	text-decoration: none;

}
.text { color:#4E6FAE 
 } 
 #p {  
 	text-align: center;
 	color: #4E6FAE;
 	font-size:36px

     
        }

.adress {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

ul{ list-style:none }
